@tailwind base;
@tailwind components;
@tailwind utilities;

/* For WebKit-based browsers */
::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

body {
	background-color: #9d616e;
	width: 100vw;
	overflow-x: hidden;
	/* For all browsers */
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
